* {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    color: #545454;
}

html,
body {
    margin: 0;
    height: 100%;
    /* background-image: url('assets/img/bg.jpg'); */
    /* background-image:
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */


}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.wrapper.IndexPage {
    justify-content: center;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainSection .searchContainer{
    margin-top: 20px;
    width: 100%;

}

.mainSection .searchContainer  form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.searchContainer .searchButton {
    columns: #757575;
    background-color:#dbcccc ;
    border: none;
    height: 34px;
    width:125px ;
    border-radius: 41px;
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    outline: none;

    
}

.mainSection .searchContainer .searchBox {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    height: 44px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 16px;
    width: 75%;
    max-width: 630px;
    color: #000;

}

.mainSection .logoContainer {
    /* width: 20px; */
    text-align: center;

}

.logoContainer img {
    width: 100%;

}

.header {
    background-color:rgba(9, 9, 117, 0.253);
    border-bottom: 1 px solid #ebebeb
}

.wrapper .headerContent{
    display: flex;
    align-items: center;
}

.headerContent .logoContainer {
    width: 150px;
    padding: 5px 20px;
    box-sizing: border-box; 
}

.headerContent .searchContainer{
    flex: 1;

}

.headerContent .searchContainer form {
    margin: 15px 0 28px 0;
}

.headerContent .searchBarContainer{
        display: flex;
        border-radius: 2px;
        height: 44px;
        width: 70%;
        max-width: 630px;
        box-sizing: border-box;
        box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        /* display: flex; */
        background-color: #fff;
    }

.headerContent .searchBarContainer .searchBox {
    flex:1;
    border: none;
    background-color: transparent;
    border-radius: 12px;

}

